<html>
<head>
<style>

    body {
        text-align: center;
        margin-top: 50px;
        font-size: 25px;
    }

    h1 {
        color: red;
    }
    iframe{
        width: 100%;
        height: 65%;
        border: 1px;
    }

</style>
</head>


<body>
    <h1>Covid Stats</h1>
    <br>
    <form method="POST">
        <label>Enter a country name!</label>
        <br>
        <br>
        <input placeholder="Enter country name" name="text">
        <input type="submit">
    </form>
    <iframe src="{{image}}"></iframe>
    <p>There are {{count}} visitors in this page ! Enjoy knowing about them, please don't forget to like our app if it gets released in playstore, we are able to create these apps only because of you guys, our viewers! you are the best and we thank you very much as you have supported us through out this jounrey of creating apps and websites!</p>
</body>
</html>
